@using LawyersApp.Models.Lawyer;
@using System.Net;
@{
    ViewBag.Title = "ادارة المحامين القضايا";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
@if ((string)Session["UserType"] != "1")
{
    Response.Redirect("~/Account/Login");
    return;
}
<div class="col-lg-12 portlets">
    <div class="panel">
        <div class="panel-header ">
            <h2><i class="icon-user"></i> <strong>إدارة</strong> أنواع القضايا</h2>
            @(Html.Kendo().Grid<LawyerViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.LawyerID).Width(50).Hidden();
        columns.Bound(p => p.LawyerName).Width(300).Title("اسم  المحامي");
        columns.Bound(p => p.LawyerPhone).Width(150).Title("رقم  الهاتف");
        columns.Bound(p => p.LawyerAddress).Width(150).Title("العنوان  ");

        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(150);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة محامي");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات المحامي").Width(400).Scrollable(true)))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.LawyerID);
            model.Field(p => p.LawyerID).Editable(false);
        })
        .Read(read => read.Action("Lawyer_Read", "Lawyer"))
        .Update(update => update.Action("Lawyer_Update", "Lawyer"))
        .Create(create => create.Action("Lawyer_Create", "Lawyer"))
        .Destroy(destroy => destroy.Action("Lawyer_Destroy", "Lawyer"))
    )

            )
        </div>
    </div>
</div>