@using LawyersApp.Models.Project

@{
    ViewBag.Title = "situationManagement";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@if (Session["UserId"] == null)
{
    Response.Redirect("~/Account/Login");
    return;
}

<script>
    kendo.culture("en-GB");
</script>
@if ((string)Session["UserType"] == "1")
{
<div class="col-lg-12 portlets">
    <div class="panel">
        <div class="panel-header ">
            <h2><i class="icon-home"></i> <strong>قائمة</strong> المشاريع</h2>
           
                @(Html.Kendo().Grid<ProjectViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.ProjectID).Width(50).Title("رقم المشروع").Filterable(false); ;
            columns.Bound(p => p.ProjectID).Width(50).Hidden();
            columns.Bound(p => p.ProjectName).Width(300).Title("اسم  المشروع");
            columns.Bound(p => p.StartData).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ البداية " }).Width(170).Format("{0:dd/MM/yyyy}").Title("تاريخ البداية ");
            columns.Bound(p => p.EndDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الانتهاء " }).Width(170).Format("{0:dd/MM/yyyy}").Title("تاريخ الانتهاء ");
            columns.Bound(p => p.Status).Width(110).HeaderHtmlAttributes(new { @title = "الحالة" }).ClientTemplate("<input type='checkbox' disabled='disabled' #= Status ? checked='checked': '' # class='chkbx' />").HtmlAttributes(new { style = "text-align: center" }).Title("الحالة");



            columns.Command(command => command.Custom("الدخول للمشروع").Click("showDetails")).Width(150);


        })

         .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Multiple))
               .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => events.Error("errorHandler"))
            .Model(model =>
            {
                model.Id(p => p.ProjectID);
                model.Field(p => p.ProjectID).Editable(false);


            })
            .Read(read => read.Action("ProjectMainAdmin_Read", "Home"))
        )
                )



                <script>
                        function showDetails(e) {
                            e.preventDefault();

                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var projectid = dataItem.ProjectID
                            var url = "/LegalIssues/LegalIssues?projectid=" + projectid;
                            window.location.href = url;



                        }
                </script>

                    <script type="text/javascript">
                        function errorHandler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                    </script>

          

           



        </div>
    </div>
</div>

}
else
{
    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="icon-home"></i> <strong>قائمة</strong> المشاريع</h2>

                @(Html.Kendo().Grid<ProjectUserViewModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.ProjectControlID).Width(50).Hidden();
                    columns.Bound(p => p.ProjectID).Width(50).Title("رقم المشروع").Filterable(false); ;
                    columns.Bound(p => p.ProjectName).Width(300).Title("اسم  المشروع");
                    columns.Bound(p => p.StartData).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ البداية " }).Width(170).Format("{0:dd/MM/yyyy}").Title("تاريخ البداية ");
                    columns.Bound(p => p.EndDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الانتهاء " }).Width(170).Format("{0:dd/MM/yyyy}").Title("تاريخ الانتهاء ");
                    columns.Bound(p => p.Status).Width(110).HeaderHtmlAttributes(new { @title = "الحالة" }).ClientTemplate("<input type='checkbox' disabled='disabled' #= Status ? checked='checked': '' # class='chkbx' />").HtmlAttributes(new { style = "text-align: center" }).Title("الحالة");



                    columns.Command(command => command.Custom("الدخول للمشروع").Click("showDetails")).Width(150);


                })

                 .Selectable(selectable => selectable
                        .Mode(GridSelectionMode.Multiple))
                       .Pageable()
                .Sortable()
                .Scrollable()
                .Filterable()
                .HtmlAttributes(new { style = "height:550px;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .ServerOperation(false)
                    .Events(events => events.Error("errorHandler"))
                    .Model(model =>
                    {
                        model.Id(p => p.ProjectID);
                        model.Field(p => p.ProjectID).Editable(false);


                    })
                    .Read(read => read.Action("ProjectMainUser_Read", "Home"))
                )
                )



                <script>
                        function showDetails(e) {
                            e.preventDefault();

                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var projectid = dataItem.ProjectID
                            var url = "/LegalIssues/LegalIssues?projectid=" + projectid;
                            window.location.href = url;



                        }
                </script>

                <script type="text/javascript">
                        function errorHandler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                </script>







            </div>
        </div>
    </div>
}

