@using LawyersApp.Models.AwarenessWorkshops
@using System.Net;
@{
    ViewBag.Title = "ورش التوعية";
}

<script>
    kendo.culture("en-GB");
</script>
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Account/Login");
    return;
}
@if ((string)Session["UserType"]=="1")
{


    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="fa fa-list-alt"></i> <strong>إدارة</strong> ورش العمل</h2>
                @(Html.Kendo().Grid<AwarenessWorkshopsViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.AwarenessID).Width(50).Hidden();
        columns.Bound(p => p.AwarenessName).Width(150).Title("اسم الدورة");
        columns.Bound(p => p.AwarenessDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الورشة  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ الورشة ");
        columns.Bound(p => p.TotalHours).Width(150).Title("ساعات التدريب");
        columns.Bound(p => p.TotalBeneficiaries).Width(150).Title("عدد المستفدين");
        columns.Bound(p => p.Males).Width(150).Title("عدد الذكور");
        columns.Bound(p => p.Females).Width(150).Title("عدد الاناث");
        columns.Bound(p => p.Boy).Width(150).Title("عدد الأولاد");
        columns.Bound(p => p.Girl).Width(150).Title("عدد البنات");

        columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "FullName").Title("مدخل البيانات").Width(200);
        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة ورشة");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات الورشة").Width(500).Height(500).Scrollable(true)).TemplateName("AwarenessEdit"))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.AwarenessID);

            model.Field(p => p.AwarenessID).Editable(false);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.UserID).Editable(false);

            model.Field(p => p.UserID).DefaultValue(int.Parse(Session["UserID"]
.ToString()));
            string currentUrlPage = HttpContext.Current.Request.Url.PathAndQuery;

            string[] words = currentUrlPage.Split('=');
            string s = "";
            foreach (string word in words)
            {
                s = word.ToString();
            }
            int x = int.Parse(s);
            model.Field(p => p.ProjectID).DefaultValue(x);

        })

        .Read(read => read.Action("db_Read", "AwarenessWorkshops"))
        .Update(update => update.Action("db_Update", "AwarenessWorkshops"))
        .Create(create => create.Action("db_Create", "AwarenessWorkshops"))
        .Destroy(destroy => destroy.Action("db_Destroy", "AwarenessWorkshops"))
    )

                )
            </div>
        </div>
    </div>

}

else if ((string)Session["UserType"]=="2")
{

    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="fa fa-list-alt"></i> <strong>إدارة</strong> الدورات</h2>
                @(Html.Kendo().Grid<AwarenessWorkshopsViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.AwarenessID).Width(50).Hidden();
        columns.Bound(p => p.AwarenessName).Width(150).Title("اسم الدورة");
        columns.Bound(p => p.AwarenessDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الورشة  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ الورشة ");
        columns.Bound(p => p.TotalHours).Width(150).Title("ساعات التدريب");
        columns.Bound(p => p.TotalBeneficiaries).Width(150).Title("عدد المستفدين");
        columns.Bound(p => p.Males).Width(150).Title("عدد الذكور");
        columns.Bound(p => p.Females).Width(150).Title("عدد الاناث");
        columns.Bound(p => p.Boy).Width(150).Title("عدد الأولاد");
        columns.Bound(p => p.Girl).Width(150).Title("عدد البنات");


        columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "FullName")
   .Title("مدخل البيانات").Width(200);
        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة ورشة");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات الورشة").Width(500).Height(500).Scrollable(true)).TemplateName("AwarenessEdit"))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.AwarenessID);

            model.Field(p => p.AwarenessID).Editable(false);
            model.Field(p => p.UserID).Editable(false);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.UserID).DefaultValue(int.Parse(Session["UserID"]
.ToString()));
            string currentUrlPage = HttpContext.Current.Request.Url.PathAndQuery;

            string[] words = currentUrlPage.Split('=');
            string s = "";
            foreach (string word in words)
            {
                s = word.ToString();
            }
            int x = int.Parse(s);
            model.Field(p => p.ProjectID).DefaultValue(x);

        })

        .Read(read => read.Action("Userdb_Read", "AwarenessWorkshops"))
        .Update(update => update.Action("db_Update", "AwarenessWorkshops"))
        .Create(create => create.Action("db_Create", "AwarenessWorkshops"))
        .Destroy(destroy => destroy.Action("db_Destroy", "AwarenessWorkshops"))
    )

                )
            </div>
        </div>
    </div>
}

