@using LawyersApp.Models.Courses
@using System.Net;
@{
    ViewBag.Title = " الدورات";
}

<script>
    kendo.culture("en-GB");
</script>
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Account/Login");
    return;
}
@if ((string)Session["UserType"]=="1")
{


    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="fa fa-list-alt"></i> <strong>إدارة</strong> الدورات</h2>
                @(Html.Kendo().Grid<CoursesViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CoursesID).Width(50).Hidden();
        columns.Bound(p => p.CoursesName).Width(150).Title("اسم الدورة");
        columns.Bound(p => p.CoursesStartDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ البداية  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ البداية ");
        columns.Bound(p => p.CoursesEndDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الانتهاء  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ الانتهاء ");
        columns.ForeignKey(p => p.TargetGroupID, (System.Collections.IEnumerable)ViewData["TargetGroup"], "TargetGroupID", "TargetGroupName").Title("الفئة المستهدفة").Width(200);
        columns.Bound(p => p.TrainingHours).Width(150).Title("ساعات التدريب");
        columns.Bound(p => p.TotalBeneficiaries).Width(150).Title("عدد المتدريبن");
        columns.Bound(p => p.Males).Width(150).Title("عدد الذكور");
        columns.Bound(p => p.Females).Width(150).Title("عدد الاناث");

        columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "FullName") .Title("مدخل البيانات").Width(200);
        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة دورة");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات الدورة").Width(500).Height(500).Scrollable(true)).TemplateName("CoursesEdit"))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.CoursesID);
            model.Field(p => p.TargetGroupID).DefaultValue(1);

            model.Field(p => p.CoursesID).Editable(false);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.UserID).Editable(false);

            model.Field(p => p.UserID).DefaultValue(int.Parse(Session["UserID"]
.ToString()));
            string currentUrlPage = HttpContext.Current.Request.Url.PathAndQuery;

            string[] words = currentUrlPage.Split('=');
            string s = "";
            foreach (string word in words)
            {
                s = word.ToString();
            }
            int x = int.Parse(s);
            model.Field(p => p.ProjectID).DefaultValue(x);

        })

        .Read(read => read.Action("db_Read", "Courses"))
        .Update(update => update.Action("db_Update", "Courses"))
        .Create(create => create.Action("db_Create", "Courses"))
        .Destroy(destroy => destroy.Action("db_Destroy", "Courses"))
    )

                )
            </div>
        </div>
    </div>

}

else if ((string)Session["UserType"]=="2")
{

    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="fa fa-list-alt"></i> <strong>إدارة</strong> الدورات</h2>
                @(Html.Kendo().Grid<CoursesViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CoursesID).Width(50).Hidden();
        columns.Bound(p => p.CoursesName).Width(150).Title("رقم الدورة");
        columns.Bound(p => p.CoursesStartDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ البداية  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ البداية ");
        columns.Bound(p => p.CoursesEndDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الانتهاء  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ الانتهاء ");
        columns.ForeignKey(p => p.TargetGroupID, (System.Collections.IEnumerable)ViewData["TargetGroup"], "TargetGroupID", "TargetGroupID").Title("الفئة المستهدفة").Width(200);
        columns.Bound(p => p.TrainingHours).Width(150).Title("ساعات التدريب");
        columns.Bound(p => p.TotalBeneficiaries).Width(150).Title("عدد المتدريبن");
        columns.Bound(p => p.Males).Width(150).Title("عدد الذكور");
        columns.Bound(p => p.Females).Width(150).Title("عدد الاناث");


        columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "FullName")
   .Title("مدخل البيانات").Width(200);
        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة دورة");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات الدورة").Width(500).Height(500).Scrollable(true)).TemplateName("CoursesEdit"))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.CoursesID);
            model.Field(p => p.TargetGroupID).DefaultValue(1);

            model.Field(p => p.CoursesID).Editable(false);
            model.Field(p => p.UserID).Editable(false);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.UserID).DefaultValue(int.Parse(Session["UserID"]
.ToString()));
            string currentUrlPage = HttpContext.Current.Request.Url.PathAndQuery;

            string[] words = currentUrlPage.Split('=');
            string s = "";
            foreach (string word in words)
            {
                s = word.ToString();
            }
            int x = int.Parse(s);
            model.Field(p => p.ProjectID).DefaultValue(x);

        })

        .Read(read => read.Action("Userdb_Read", "Courses"))
        .Update(update => update.Action("db_Update", "Courses"))
        .Create(create => create.Action("db_Create", "Courses"))
        .Destroy(destroy => destroy.Action("db_Destroy", "Courses"))
    )

                )
            </div>
        </div>
    </div>
}