@using LawyersApp.Models.Achievements
@using System.Net;
@{
    ViewBag.Title = "أرشيف الانجازات";
}

<script>
    kendo.culture("en-GB");
</script>
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Account/Login");
    return;
}
@if ((string)Session["UserType"] == "1")
{


    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="fa fa-list-alt"></i> <strong>أرشيف</strong> الإنجازات</h2>
                @(Html.Kendo().Grid<AchievementsViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.AchievementID).Width(50).Hidden();
        columns.Bound(p => p.AchievementsName).Width(150).Title("اسم الانجاز");
        columns.Bound(p => p.AchievementsDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الانجاز  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ الانجاز ");
        columns.Bound(p => p.url).ClientTemplate(" <a href='#=url#' target='_blank'>الدخول</a> ").Title("مرفقات").Width(100).Filterable(false);

        columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "FullName").Title("مدخل البيانات").Width(200);
        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة انجاز");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات الانجاز").Width(500).Height(500).Scrollable(true)).TemplateName("AchievementEdit"))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.AchievementID);

            model.Field(p => p.AchievementID).Editable(false);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.UserID).Editable(false);

            model.Field(p => p.UserID).DefaultValue(int.Parse(Session["UserID"]
.ToString()));
            string currentUrlPage = HttpContext.Current.Request.Url.PathAndQuery;

            string[] words = currentUrlPage.Split('=');
            string s = "";
            foreach (string word in words)
            {
                s = word.ToString();
            }
            int x = int.Parse(s);
            model.Field(p => p.ProjectID).DefaultValue(x);

        })

        .Read(read => read.Action("db_Read", "chievements"))
        .Update(update => update.Action("db_Update", "chievements"))
        .Create(create => create.Action("db_Create", "chievements"))
        .Destroy(destroy => destroy.Action("db_Destroy", "chievements"))
    )

                )
            </div>
        </div>
    </div>

}

else if ((string)Session["UserType"] == "2")
{

    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header ">
                <h2><i class="fa fa-list-alt"></i> <strong>إدارة</strong> الدورات</h2>
                @(Html.Kendo().Grid<AchievementsViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.AchievementID).Width(50).Hidden();
        columns.Bound(p => p.AchievementsName).Width(150).Title("اسم الانجاز");
        columns.Bound(p => p.AchievementsDate).Width(170).HeaderHtmlAttributes(new { @title = "تاريخ الانجاز  " }).Format("{0:dd/MM/yyyy}").Title("تاريخ الانجاز ");
        columns.Bound(p => p.url).ClientTemplate(" <a href='#=url#' target='_blank'>الدخول</a> ").Title("مرفقات").Width(100).Filterable(false);
        columns.Bound(p => p.url).ClientTemplate(" <a href='#=url#' target='_blank'>الدخول</a> ").Title("رابط الكتروني").Width(100).Filterable(false);


        columns.ForeignKey(p => p.UserID, (System.Collections.IEnumerable)ViewData["users"], "UserID", "FullName")
   .Title("مدخل البيانات").Width(200);
        columns.Command(command =>
        {
            command.Edit().UpdateText("حفظ").CancelText("الفاء").Text("تعديل");
            command.Destroy().Text("حذف");
        }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة انجاز");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title(" بيانات انجاز").Width(500).Height(500).Scrollable(true)).TemplateName("AchievementEdit"))
           .Pageable()
           .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.AchievementID);

            model.Field(p => p.AchievementID).Editable(false);
            model.Field(p => p.UserID).Editable(false);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.UserID).DefaultValue(int.Parse(Session["UserID"]
.ToString()));
            string currentUrlPage = HttpContext.Current.Request.Url.PathAndQuery;

            string[] words = currentUrlPage.Split('=');
            string s = "";
            foreach (string word in words)
            {
                s = word.ToString();
            }
            int x = int.Parse(s);
            model.Field(p => p.ProjectID).DefaultValue(x);

        })

        .Read(read => read.Action("Userdb_Read", "chievements"))
        .Update(update => update.Action("db_Update", "chievements"))
        .Create(create => create.Action("db_Create", "chievements"))
        .Destroy(destroy => destroy.Action("db_Destroy", "chievements"))
    )

                )
            </div>
        </div>
    </div>
}

